APP_NAME="POS System"
APP_KEY=base64:taausSaDFPE76ZreQn9v20U438s0mQVy1yxYpxJ3hqY=
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=pos_db
DB_USERNAME=pos_user
DB_PASSWORD=secure_password

# REDIS_HOST=redis
# REDIS_PORT=6379

BROADCAST_DRIVER=log
# CACHE_DRIVER=redis
FILESYSTEM_DISK=local
# QUEUE_CONNECTION=redis
# SESSION_DRIVER=redis
SESSION_LIFETIME=120

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

